<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTL | Home</title>
    <link rel="icon" href="images/homepage/logo-removebg-preview.png">
    <link rel="stylesheet" href="css/homepage/hpstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="nav-bar">
                <ul>
                    <img src="images/homepage/logo-removebg-preview.png" alt="">
                    <a onclick="location.href='/'">Home</a>
                    <a onclick="location.href='/login'">Log In</a>
                    <a onclick="location.href='/signup'">Sign Up</a>
                </ul>
            </div>
            <div class="info">
                <h1 >Manage your day with MTL. Easily plan your time.</h1>
                <p>Organize your daily task and agenda easily. Recieve notification of due-tasks and set remindars for each task.</p>
                <button onclick="location.href='/signup'">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></button>                
            </div>
        </div>
        <div class="right">
            <img class="one" src="images/homepage/pexels-energepiccom-110473.jpg" alt="">
            <img class="two" src="images/homepage/My project-1.png" alt="">
        </div>
    </div>
</body>
</html>

